.main {
    height: 100vh;
    min-width: 100%;
    position: relative;
    overflow: hidden;
    scroll-snap-align: start;
}

.main .glass_card {
    height: 200px;
    width: 600px;
    padding: 20px 30px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--white-glass);
    backdrop-filter: blur(20px);
    border: solid 3px var(--white);
    border-radius: 20px;
}

.main .glass_card h1 {
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
}

.main .glass_card h1:first-child {
    color: var(--gray);
    font-size: 36px;
}

.main .glass_card h1:nth-child(2) {
    font-size: 60px;
    padding: 0;
}

.main .glass_card h1:nth-last-child(1) {
    color: var(--gray);
    font-size: 20px;
    text-align: end;
    text-transform: none;
}

.main .skills {
    position: absolute;
    top: 80%;
    left: 80%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.main .skills h1 {
    color: var(--gray);
    font-size: 24px;
}

.main .skills_icons {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
}

.main .skills_icons img[alt='react icon'] {
    animation: rotate_svg 20s linear infinite;
}

.main .circle {
    height: 80vh;
    width: 80vh;
    min-height: 500px;
    min-width: 500px;
    background-image: linear-gradient(to top right, var(--white) 50%, var(--cyan) 100%);
    border-radius: 100%;
    position: absolute;
    left: -230px;
    bottom: -80px;
    z-index: 1;
}

.main .image_sebastian {
    height: 100vh;
    width: auto;
    position: absolute;
    bottom: -20px;
    z-index: 2;
}

    

@media screen and (max-width: 1300px) {
    .main .circle {
        height: 70vh;
        width: 70vh;
    }

    .main .image_sebastian {
        height: 90vh;
    }
}

@media screen and (max-width: 1150px) and (max-height: 950px) {
    .main .circle {
        left: -250px;
    }

    .main .image_sebastian {
        /* left: -40px; */
        bottom: -40px;
    }
}

@media screen and (max-width: 1100px) and (max-height: 800px) {

    .main .circle {
        left: -200px;
    }

    .main .image_sebastian {
        left: 0px;
        bottom: 0px;
    }
}

@media screen and (width < 1200px) and (height < 1400px) {

    .main .image_sebastian {
        height: 75vh;
    }

    .main .glass_card {
        top: 25%;
    }

    .main .skills {
        top: 70%;
        left: 70%;
    }
}

@media screen and (width < 800px) {
    .main .skills {
        display: none;
    }
}

@media screen and (width < 650px) {
    .main .glass_card {
        height: 180px;
        min-width: 100vw;
        top: 25%;
        align-items: center;
        background-color: transparent;
        backdrop-filter: none;
        border: none;
    }

    .main .glass_card h1 {
        font-weight: 700;
        line-height: 1.3;
        text-transform: uppercase;
    }
    
    .main .glass_card h1:first-child {
        font-size: 6vw;
    }
    
    .main .glass_card h1:nth-child(2) {
        font-size: 8vw;
    }
    
    .main .glass_card h1:nth-last-child(1) {
        margin-top: 7px;
        font-size: 4vw;
    }
}