.projects-section {

    background-image: linear-gradient(to top, var(--cyan), var(--darker-cyan));
    margin-top: -2px;
    scroll-snap-align: center;
}

.projects-section h1 {
    color: var(--white);
}

.projects-section .projects-box {
    padding: 5vh 8vw 8vh 8vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.projects-section .projects-box .project {
    height: 50vh;
    max-width: 350px;
    padding: 16px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    background-color: var(--white-glass);
    backdrop-filter: blur(20px);
    border: solid 3px var(--white);
    border-radius: 20px;
    box-shadow: 0 0 20px var(--black);
    transition: all .2s ease;
}

.projects-section .projects-box .project:is(:hover, :focus) {
    transform: scale(1.02);
}

.projects-section .projects-box .project h3 {
    color: var(--black);
}

.projects-section .projects-box .project p {
    color: var(--black);
    font-weight: 500;
}

.projects-section .projects-box .project a {
    height: min-content;
    width: 100%;
    padding: 10px;
    color: var(--black);
    border: 2px solid var(--black);
    border-radius: 10px;
    font-weight: 700;
    transition: all .3s ease;
}

.projects-section .projects-box .project a:hover {
    background-color: var(--black);
    color: var(--white);
    box-shadow: 0 0 20px var(--gray);
}

@media screen and (width < 1200px) {
    .projects-section .projects-box {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (width < 800px) {
    .projects-section .projects-box {
        grid-template-columns: 1fr
    }
}