@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

:root {
  /* Tipography */
  --main-tipography: 'Poppins', sans-serif;

  /* Colors var */
  --white: #ffffff;
  --white-glass: hsla(0, 0%, 100%, 0.5);
  --cyan: #00FFD1;
  --darker-cyan: #20B197;
  --gray: #777777;
  --black: #444444;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--main-tipography);
}

html {
  /* scroll-behavior: smooth; */
}

#root {
  height: 100vh;
  width: 100%;
  overflow: auto;
  /* scroll-snap-type: y mandatory; */
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--gray);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

div[id] {
  scroll-padding-top: 12vh;
}

a {
  text-decoration: none;
}

p {
  font-weight: 500;
}

h1 {
  padding: 10px;
  text-align: center;
  font-size: 36px;
}

section {
  height: min-content;
  width: 100%;
}

.title-gradient, span {
  background-image: linear-gradient(to bottom, var(--darker-cyan) 20%,var(--cyan) 100%);
  background-color: #ececec;
  background-clip: text;
  -webkit-background-clip:text;
  -moz-background-clip:text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

@media screen and (width < 800px) {
  ::-webkit-scrollbar {
    width: 0px;
  }
}

@keyframes rotate_svg {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
  }
}